MONGO_URI = 
NODE_ENV = development
PORT = 4000

SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=

MAIL_HOST = 
MAIL_USER = 
MAIL_PASS = 
FROM_NAME = 
FROM_EMAIL = 
SITE_OWNER_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

AVATAR_FOLDER_NAME=StudyNotion/avatars
THUMBNAIL_FOLDER_NAME=StudyNotion/thumbnail
VIDEO_FOLDER_NAME=StudyNotion/video
AVATAR_MAX_SIZE=512000 # 500 KB
THUMBNAIL_MAX_SIZE=1048576 # 1 MB
VIDEO_MAX_SIZE= 52428800 # 50MB

# For Development
STUDY_NOTION_BACKEND_SITE = http://localhost:4000
STUDY_NOTION_FRONTEND_SITE = http://localhost:3000

# # For Production
# STUDY_NOTION_BACKEND_SITE = 
# STUDY_NOTION_FRONTEND_SITE = 

RAZORPAY_PAY_KEY_ID=
RAZORPAY_PAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_MERCHANT_ID=
